.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  gap: 6px;
}

.screen {
  grid-column: span 4;
}

.calc-btn {
  border: 2px solid black;
}

.btn-clear {
  grid-column: span 2;
}

.btn-0 {
  grid-column: span 2;
}