.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  gap: 3ch;
}

.card {
  border: 1px solid black;
  padding: 0.5em;
  background-color: lightyellow;
}

#new-book-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: 25%;
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid black;
  background-color: white;
}

#new-book-form input {
  display: block;
  align-self: center;
  width: 100%;
  margin-bottom: 1em;
}

#new-book-form label {
  align-self: flex-start;
}

#new-book-form button {
  align-self: center;
}

.new-book-btn {
  margin: 2rem 0.5rem;
  font-size: 1.5rem;
}
