:root {
  --container-size: 640px;
  --square-size: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  /* gap: calc(0.05 * var(--container-size)); */
  width: var(--container-size);
  height: var(--container-size);
  margin-inline: auto;
  margin-top: 1rem;
  background-color: lightyellow;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  background-color: pink;
}

.hover {
  background-color: red;
}
